{% extends "base.html" %} {% block title %} Home Page {% endblock %}
{% block content %}
    <h2 class="mt-5 mb-3">New Releases</h2>
    <div class="scrolling-wrapper">
        {% for show in new_release_shows %}
            <div class="card">
                <img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h5 class="card-title m-0">{{ show.Show_Name }}</h5>
                        <span class="badge bg-secondary">{{ show.Type }}</span>
                    </div>
                    <p class="card-text">{{ show.Show_Description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <h2 class="mt-5 mb-3">Recommended for You</h2>
    <div class="scrolling-wrapper">
        {% for i in card_count %}
            <div class="card">
                <img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Movie Title {{ i }}</h5>
                    <p class="card-text">Movie Description</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <h2 class="mt-5 mb-3">Trending</h2>
    <div class="scrolling-wrapper">
        {% for i in card_count %}
            <div class="card">
                <img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Movie Title {{ i }}</h5>
                    <p class="card-text">Movie Description</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}