{% extends "base.html" %} {% block title %} MTVSRS - {{ show.name }} {% endblock %}
{% load static %}
{% block content %}
    <div class="container mt-4">
        <div class="row">
            <!-- Left Side -->
            <div class="col-md-2 ps-0"> <!-- This will take up 2/12 of the container width -->
                <img class="card-img-top" src="{% static 'images/'|add:show.name|add:'.png' %}" alt="{{ show.name }}">
                <div class="dropdown mt-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <span id="statusLabel"> {{ current_status|default:"Add to List" }} </span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for status in status_types %}
                            <li><a class="dropdown-item {% if current_status == status %}active{% endif %}"
                                   href="#"
                                   hx-post="/change_status/"
                                   hx-vals='{"watchlistId": "{{ watchlist_id }}", "showId": "{{ show_id }}", "currentStatus": "{{ current_status }}", "newStatus": "{{ status }}"}'
                                   hx-target="#statusLabel"
                                   hx-swap="outerHTML"
                            >{{ status }}</a></li>
                        {% endfor %}
                    </ul>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for status in status_types %}
                            <li><a class="dropdown-item {% if current_status == status %}active{% endif %}"
                                   href="#">{{ status }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="bg-dark p-3 mt-3 rounded">
                    <p><strong>Format</strong></p>
                    <p> {{ show_type }}</p>
                    <p><strong>Release Date</strong></p>
                    <p> {{ show.release_date }}</p>
                    {% if show_type == "TV" %}
                        <p><strong>Episodes</strong></p>
                        <p>{{ show.number_of_episodes }}</p>
                    {% endif %}
                    <p><strong>Avg Score</strong></p>
                    <p>TODO</p>
                    <p><strong>Genre</strong></p>
                    <p>{{ show.genre }}</p>
                    <!-- Add more metadata fields here -->
                </div>
            </div>

            <!-- Right Side -->
            <div class="col-md-10"> <!-- This will take up 10/12 of the container width -->
                <!-- Info -->
                <h3>{{ show.name }}</h3>
                <p>{{ show.description }}</p>

                <!-- Status Distribution -->
                <div class="row mt-5">
                    <div class="col">
                        <h4>Status Distribution</h4>
                        <div class="status-distribution col bg-dark text-white p-3 rounded">
                            <div class="row"> <!-- nested row otherwise the bg-dark spills over -->
                                <div class="col text-center distribution">
                                    <h5 class="mb-0"><span class="badge bg-info">Planned</span></h5>
                                    <p> {{ status_distribution.Planned }}</p>
                                </div>
                                <div class="col text-center distribution">
                                    <h5 class="mb-0"><span class="badge bg-primary">Watching</span></h5>
                                    <p>{{ status_distribution.Watching }} </p>
                                </div>
                                <div class="col text-center distribution">
                                    <h5 class="mb-0"><span class="badge bg-success">Completed</span></h5>
                                    <p>{{ status_distribution.Completed }}</p>
                                </div>
                                <div class="col text-center distribution">
                                    <h5 class="mb-0"><span class="badge bg-warning">Dropped</span></h5>
                                    <p>{{ status_distribution.Dropped }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Score Distribution -->
                <div class="row mt-5">
                    <div class="col">
                        <h4>Score Distribution</h4>
                        <div class="bg-dark text-white p-3 rounded">
                            <div>
                                {{ score_distribution_plot|safe }}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- My Review -->
                <div class="row mt-5">
                    <h4>My Review</h4>
                    <div class="bg-dark text-white p-3 rounded" id="myReview">
                        <!-- Display review if it exists -->
                        {% if user_review %}
                            <p>{{ user_review.review }}</p>
                            <p>Rating: {{ user_review.rating }}</p>
                            <button id="editReviewButton" class="btn btn-primary">Edit</button>
                        {% endif %}

                        <!-- Form for submitting or editing a review -->
                        <!-- This form is shown for editing if a review exists and for submitting if it doesn't. -->
                        <form id="editReviewForm" style="display: {% if user_review %}none{% else %}block{% endif %};"
                              hx-post="/submit_review/"
                              hx-vals='{"show_id": "{{ show_id }}"}'
                              hx-target="#myReview"
                              hx-swap="outerHTML">
                            {% csrf_token %}
                            {{ review_form.as_p }}
                            <button type="submit" class="btn btn-primary">{% if user_review %}Update{% else %}
                                Submit{% endif %}</button>
                        </form>
                    </div>
                </div>

                <!-- Recent Reviews -->
                <div class="row mt-5">
                    <h4>Recent Reviews</h4>
                    <h6>{{ review_count }} total reviews</h6>
                    {% for review in reviews %}
                        <div class="bg-dark text-white p-3 rounded"> <!-- separate each review -->
                            <div class="review-item d-flex align-items-center">
                                <h5 class="review-name m-0">
                                    {{ review.user_id.first_name }} {{ review.user_id.last_name }}
                                </h5>
                                <span class="badge bg-secondary review-rating">{{ review.rating }} / 5</span>
                                <div class="ms-auto">
                                    <span class="text-muted">{{ review.review_date|date:"Y-m-d" }}</span>
                                </div>
                            </div>
                            <p>{{ review.review }}</p>
                        </div>
                    {% empty %}
                        <p>No reviews available.</p>
                    {% endfor %}
                </div>

                <!-- Similar Shows -->
                <div class="row mt-5">
                    <h4>Similar Shows</h4>
                    <div class="row">
                        <div class="scrolling-wrapper">
                            {% for similar_show in similar_shows %}
                                <a href="{% url 'show' similar_show.show_id %}" class="text-decoration-none text-dark">
                                    <div class="card-small">
                                        <img class="card-img-top" src="{% static 'images/'|add:"working"|add:'.png' %}">
                                        <div class="card-body card-body-small">
                                            <h5 class="card-title card-title-small m-0">{{ similar_show.name }}</h5>
                                            <span class="badge bg-secondary">{{ similar_show.show_type }}</span>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function toggleReviewDisplay() {
            let form = document.getElementById('editReviewForm');
            if (form.style.display === 'none') {
                form.style.display = 'block';
            } else {
                form.style.display = 'none';
            }
        }

        function bindToggleReviewDisplay() {
            document.getElementById('editReviewButton').addEventListener('click', toggleReviewDisplay);
        }

        // Bind the toggle functionality on page load if there's a review already
        {% if user_review %}
            bindToggleReviewDisplay();
        {% endif %}
        
        // Rebind the toggle functionality after HTMX swaps the DOM
        document.addEventListener('htmx:afterSwap', function () {
            bindToggleReviewDisplay();
        });
    </script>

{% endblock %}